/* global styling  */
@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@300;400;600&display=swap');

@font-face {
  font-family: Second font;
  src: url(./Fonts/AGaramondPro-Regular.otf);
}

@font-face {
  font-family: third font;
  src: url(./Fonts/SdglitchdemoRegular-YzROj.ttf);
}

@font-face {
  font-family: fourth font;
  src: url(./Fonts/DRUZHOK.otf);
}

@font-face {
  font-family: fifth font;
  src: url(./Fonts/asborfashiondemoversionregular-dyamr.otf);
}

@property --conical-angle {
  syntax: '<angle>';
  inherits: false;
  initial-value: 0deg;
}

@keyframes rotate{
  0% {
    --conical-angle: 0deg;
  }
  100% {
    --conical-angle: 360deg;
  }
}


:root{
  /* --main-color:#682AE9; */
  --main-color: #be8015;
  --main-font:'Roboto Mono', monospace;
  --gray-color:#808080;
}

*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  transition: 0.5s ease-in;
}

body,html{
  /* color: #000;   */
  height: 100%;
  width: 100%;
  /* background-color: #111; */
  background-color: #000000;
  scroll-behavior: smooth;
  /* overflow-x: hidden; */
  width: 100%;
}

/* section {
  width: 80%;
  margin: 0 auto;
} */


li,
a {
  text-decoration: none;
  color: #eeeeee;
  font-weight: bold;
  /* font-family: "Courier New", Courier, monospace; */
  list-style: none;
}

/* global styling ends */

/* navbar styling  */

nav{
  position: fixed;
  top: 20px;
  width: 42%;
  left: 30%;
  text-align: center;
  z-index: 999;
  justify-content: center;
  border-radius: 15px;
  transition: all 0.4s ease-in-out;
}

nav.scroll {
  background-color: rgba(255,255,255,.1);
  backdrop-filter: blur(15px);
}

.logo {
  position: fixed;
  float: left;
  top: 1.5rem;
  left: 1.5rem;
  z-index: 1;
  cursor: pointer;
}

.logo a{
  font-size: calc(12px + 1vmax);
  letter-spacing: 5px;
  color: var(--gray-color);
  font-weight: bolder;
  /* font-family: 'Courier New', Courier, monospace; */
  font-family: fifth font;
}

.logo a span{
  color: var(--main-color);
}

.menu{
  display: none;
}

#menu-btn{
  display: none;
}

.menu-icon i{
  color: var(--main-color);
  font-size: 25px;
}

.mob-nav{
  display: none;
}


nav ul {
  display: flex;
}


nav ul li {
  margin: 2% 2%;
}

nav ul li a{
  color: whitesmoke;
  font-size: calc(10px + 1vmin);
  letter-spacing: 1.5px;
  padding: 10px 10px;
  font-family: 'Roboto Mono', monospace;
  font-weight: 400;
  letter-spacing: -1px;
  transition: all 1s
}

nav ul li a span{
  color: var(--main-color);
  transition:all .6s ease-in-out
}

nav ul li a:hover{
  color: var(--main-color);
  transition: all 0.3s ease-in;
  text-decoration: underline;
  padding: 2px;
  text-transform: uppercase;
  letter-spacing: 1px;
}

nav ul li a:hover .hover{
  color: #eeeeee;
}

/* navbar styling ends  */

/* home styling starts  */

section {
  width: 100%;
}

.homecontent{
  /* margin: 5% auto; */
  display: flex;
  justify-content: center;
  text-align: center;
  flex-direction: column;
  width: 100%;
  height: 100vh;
}

.homecontent .head-tag h1 {
  animation: rotate 4s ease-in-out infinite;
  background-image: linear-gradient(var(--conical-angle), rgba(0, 0, 0, 0.415), rgb(74, 46, 2), rgb(243, 164, 6),rgba(234, 164, 6, 0.415));
  background-clip: text;
  color: transparent;
  font-family: fifth font;
  letter-spacing: 5px;
  font-weight: bolder;
  font-size: calc(12px + 2vmax);
}

.homecontent .head-tag span {
  font-style: italic;
  font-size: calc(20px + 3vmax);
  font-family: fourth font;
  letter-spacing: 5px;
  color: #eee;
}

.homecontent p {
  margin-top: 1rem;
  position: relative;
  height: 10vh;
}

.homecontent .animate-text span {
  /* display: inline-block; */
  color: var(--gray-color);
  font-size: calc(0.5rem + 1vmax);
  position: absolute;
  left: 50%;
  transform: translate(-50%,0);
  display: none;
  font-family: monospace;
}

.homecontent p span.text-in {
  display: block;
  animation: textIn 0.5s ease;
}

.homecontent hr{
  border:none;
  height: 20px;
 	width: 50%;
	height: 50px;
	margin-top: 0;
	border-bottom: 1px solid #1f1209;
	/* box-shadow: 0 20px 20px -20px #333; */
  margin: -40px auto 10px; 
	box-shadow: 0 20px 20px -20px #f9a007;
}

@keyframes textIn {
  100% {
    transform: translate(-50%,0);
    opacity: 1;
    display: block;
  }
  0% {
    transform: translate(-50%,40%);
    display: none;
    opacity: 0;
  }
}

/* home styling ends  */


/* about styling starts */
#about{
  position: relative;
  min-height: fit-content;
}

.about-content {
  text-align: center;
  font-family: var(--main-font);
  border-radius: 20px;
}
.about-me{
  display: flex;
  margin: 0 5%;
}

.aboutwork{
  color: #eee;
}

.work {
  padding-top: 3rem;
  margin: auto 5%;
  text-align: start;
}

.work h5 {
  font-size: calc(16px + 2vmax);
  font-weight: 200;
  white-space: nowrap;
  letter-spacing: 5px;
  font-family: third font;
  color: #eee;
  margin-top:2rem;
  width: fit-content;
  margin-bottom: 2rem;
}

.work h5 span{
  color: var(--main-color);
  font-family: third font;
}

.about-content h4 {
  font-size: 1.5rem;
  color: rgb(37, 113, 158);
  letter-spacing: 1px;
}

.about-content h1 {
  display:block;
  text-align: left;
  font-size: calc(5px + 1vmax);
  font-family: var(--main-font);
  letter-spacing: -2px;
  color: var(--gray-color);
  font-weight: 100;
  border-radius: 35%;

}

.about-content h1 span{
  color: blue;
  letter-spacing: 0.2px;
}

.about-content .about-me a{
  /* text-decoration: underline; */
  color: var(--main-color);
}

.about-content h1 a{
    color: #eee;
    font-weight: 200;
    text-decoration: underline;
    text-decoration-color: var(--main-color);
}

.terminal_cursor {
  display: inline-block;
  height: 25px;
  width: 5px;
  margin-left: 8px;
  animation: curbl 1200ms linear infinite;
}

@keyframes curbl {
  
  0% {
    background: var(--gray-color);
  }

  49% {
    background: var(--gray-color);
  }

  60% {
    background: transparent;
  }

  99% {
    background: transparent;
  }

  100% {
    background: var(--gray-color);
  }
} 

/* Expenrice & Education styling */

.exp-edu{
  display: flex;
  justify-content: center;

}

.exp-edu .card {
  overflow: visible;
  width: 200px;
  height: 250px;
  margin: 1%;
}

.content {
  font-family: var(--main-font);
  width: 100%;
  height: 100%;
  justify-content: right;
  transform-style: preserve-3d;
  transition: transform 300ms;
  box-shadow: 0px 0px 10px 1px #000000ee;
  border-radius: 5px;
}

.front, .back {
  /* background-color: #151515; */
  position: absolute;
  width: 100%;
  height: 100%;
  backface-visibility: hidden;
  -webkit-backface-visibility: hidden;
  border-radius: 5px;
  overflow: hidden;
}

.back {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.back::before {
  position: absolute;
  content: ' ';
  display: block;
  width: 160px;
  height: 160%;
  background: linear-gradient(90deg, transparent, #ff9966, #ff9966, #ff9966, #ff9966, transparent);
  animation: rotation_481 5000ms infinite linear;
}

.back-content {
  position: absolute;
  width: 99%;
  height: 99%;
  background-color: #151515;
  border-radius: 5px;
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 30px;
}
.back-content strong{
  font: 200 calc(10px+ 1vmin) var(--main-font);
}

.card:hover .content {
  transform: rotateY(180deg);
}

@keyframes rotation_481 {
  0% {
    transform: rotateZ(0deg);
  }

  0% {
    transform: rotateZ(360deg);
  }
}

.front {
  transform: rotateY(180deg);
  color: white;
  display: block;
}

.front .front-content {
  width: 100%;
  height: 100%;
  padding: 10px 10px;
}

.description {
  width: 100%;
  padding: 10px;
  margin-top: 1rem;
  text-align: center;
  backdrop-filter: blur(5px);
  border-radius: 5px;
}

.title {
  max-width: 100%;
}

.title p {
  width: 80%;
  font: 100 calc(8.2px + 0.5vmin) second font;
  letter-spacing: 1px;
}

.card-footer {
  color: #ffffff88;
  margin-top: 5px;
  font: 100 calc(5px + 1vmin) second font;
}

.front .img {
  position: absolute;
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
}

.circle {
  width: 90px;
  height: 90px;
  border-radius: 50%;
  background-color: #414040;
  position: relative;
  filter: blur(15px);
  animation: floating 2600ms infinite linear;
}

#bottom {
  background-color: #651904;
  left: 50px;
  top: 0px;
  width: 150px;
  height: 150px;
  animation-delay: -800ms;
}

#right {
  background-color: #ff2233;
  left: 160px;
  top: -80px;
  width: 30px;
  height: 30px;
  animation-delay: -1800ms;
}

@keyframes floating {
  0% {
    transform: translateY(0px);
  }

  50% {
    transform: translateY(10px);
  }

  100% {
    transform: translateY(0px);
  }
}



/* Tooling styling */

.icons{
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  width: 100%;
  height: calc(100vh - 120px);
}


.icons h2{
  display: inline-block;
  padding: 15px;
  color: var(--main-color);
  border-radius: 10px;
  font-size: calc(3rem + 3vmin);
  background-color: #1b1b1b;
  border: 2px solid var(--main-color);
  font-family: third font;
  font-weight: 100;
  width: fit-content;
  /* text-align: center; */
}

.icons .icon{
  height: 20vh;
  margin: 2% auto;
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  gap: 10px;
  border-radius: 15px;
}

.icons .icon .row{
  justify-content: space-evenly;
  /* border: 2px dotted var(--main-color); */
  /* box-shadow: #be8015 5px 5px 10px; */
  width: 100%;
  margin: 5px;
  display: flex;
  border-radius: 10px;
  /* border:2px solid var(--main-color); */
  background-color: #1b1b1b;
}

.icon img{
  width: 40px;
  height: auto;
  overflow: hidden;
  object-fit: contain;
}


.icons .icon p{
  color: #fff;
  font-family: Second font;
  letter-spacing: 1px;
  font-size: calc(10px + 1vmin);
  color: var(--main-color);
  align-self: center;
}

/* about styling ends */







/* projects styling starts */

#projects{
  position: relative;
  min-height: fit-content;
  justify-content: center;
  text-align: center;
}


.projects .outer{
  display:flex;
  justify-content: center;
  flex-direction: row;
  flex-wrap: wrap;
}


.projects .card {
  width: 250px;
  height: 160px;
  padding: 10px;
  margin-right:6rem;
  margin-left: 6rem;
  margin-top: 2rem;
  background:rgb(64, 64, 64);
  border-radius: 8px;
  backdrop-filter: blur(5px);
  border-bottom: 3px solid rgba(255, 255, 255, 0.440);
  border-left: 2px rgba(255, 255, 255, 0.545) outset;
  box-shadow: -20px 15px 10px rgba(179, 144, 48, 0.716);
  transform: skewX(10deg);
  transition: .4s;
  overflow: hidden;
  color: white;
}


img{
  height: 120px;
  width: 100%;
}
.projects .card:hover {
  height: 260px;
  transform: skew(0deg);
}

.projects .card .align {
  padding: 5px;
  display: flex;
  flex-direction: row;
  gap: 5px;
  align-self: flex-start;
}

.projects .card .align .red {
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background-color: #ff605c;
  box-shadow: -5px 5px 5px rgba(0, 0, 0, 0.280);
}

.projects .card .align .yellow {
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background-color: #ffbd44;
  box-shadow: -5px 5px 5px rgba(0, 0, 0, 0.280);
}

.projects .card .align .green {
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background-color: #00ca4e;
  box-shadow: -5px 5px 5px rgba(0, 0, 0, 0.280);
}

.projects .card .btn{
  display: flex;
  justify-content: space-evenly;
}

.projects .card .btn a{
  cursor: pointer;
  border: 1px solid var(--main-color);
  background-color: #000;
  font-family: second font;
  padding: 5px;
  margin-bottom: 5px;
  border-radius: 5px;
  color: var(--main-color);
  font-size: calc(8px + 1vmin);
}

.projects .outer p{
  color: #000000;
  font-family: second font;
}
/* projects styling ends  */


/* Contact styling starts */
#contact {
  position: relative;
  width: 100%;
  min-height: fit-content;
  /* height: 100%; */
}

.special{
  text-align: center;
  margin-top: 7rem;
  color: #eee;
}

.contact-wrapper {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin: 0 auto;
  padding: 20px;
  position: relative;
  max-width: 840px;
}

/* Left contact page */
.form-horizontal {
  font-family: var(--main-font);
  font-weight: 400;
}

.form-control, 
textarea {
  min-width: 400px;
  border-bottom: 1px solid var(--main-color);
  border-right: 1px solid var(--main-color);
  box-shadow: #5e3602 6px 6px 12px;
  border-radius: 5px;
  padding: 3%;
  margin:15px;
  /* cursor: not-allowed; */
  cursor: pointer;
  background-color: #000;
  color: #fff;
  letter-spacing: 2px;
}
:focus{
  outline: 1px solid var(--main-color);
}
.send-button {
  margin: 15px;
  background-color: #61605e;
  border-radius: 5px;
  height: 34px;
  width: 410px;
  overflow: hidden;
  transition: all .2s ease-in-out;
  cursor: pointer;
}

.alt-send-button {
  width: 400px;
  height: 34px;
  transition: all .2s ease-in-out;
}

.send-text {
  display: block;
  margin-top: 10px;
  /* font: 700 12px 'Lato', sans-serif; */
  font: 800 15px fifth font;
  letter-spacing: 10px;
}

.alt-send-button .fa-paper-plane{
  color: #f89d26;;
  transform: translate(0px,6px);
}

.alt-send-button .send-text{
  color: #f99e28;;
  transform: translate(0px,4px);
}

.alt-send-button:hover {
  transform: translate3d(15px, -22px, 0px);
}

/* Begin Right Contact Page */
.direct-contact-container {
  max-width: 400px;
  margin-left: 5rem;
  margin-top: 30px;
}

/* Location, Phone, Email Section */
.contact-list {
  list-style-type: none;
  padding-right: 20px;
}

.list-item {
 /* color: #eee; */
  line-height: 4;
}

.list-item i{
  color: var(--main-color);
}
.contact-text {
  /* font: 300 18px 'Lato', sans-serif; */
  font: 200 calc(10px + 1vmax) fifth font;
  letter-spacing: 1.9px;
  /* color: #bbb; */

  /* color: var(--main-color); */
}

.place {
  margin-left: 62px;
}

.phone {
  margin-left: 56px;
}

.gmail {
  margin-left: 53px;
}

.contact-text a {
  color: #bbb;
  text-decoration: none;
  transition-duration: 0.2s;
}

.contact-text a:hover {
  color: var(--main-color);
  text-decoration: underline;
}


/* Social Media Icons */
.social-media-list {
  position: relative;
  font-size: 22px;
  text-align: center;
  width: 100%;
  margin: 0 auto;
}

.social-media-list li a {
  color: #fff;
}

.social-media-list li {
  position: relative; 
  display: inline-block;
  height: 60px;
  width: 60px;
  margin: 10px 3px;
  line-height: 60px;
  border-radius: 50%;
  color: #fff;
  background-color: rgb(27,27,27);
  cursor: pointer; 
  transition: all .2s ease-in-out;
}

.social-media-list a li:after {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 60px;
  height: 60px;
  line-height: 60px;
  border-radius: 50%;
  opacity: 0;
  box-shadow: 0 0 0 1px #fff;
  transition: all 0.2s ease-in-out;
}

.social-media-list a li:hover {
  background-color: var(--main-color); 
}

.social-media-list a li:hover:after {
  opacity: 1;  
  transform: scale(1.12);
  transition-timing-function: cubic-bezier(0.40,0.80,0.30,2.65);
}

.social-media-list a li:hover {
  color: #000;
}

.copyright {
  font: 400 calc(5px + 1vmax) second font;
  color: #808080;
  text-align: center;
  display: flex;
  cursor: auto;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 10vh ;
}

.direct-contact-container .hr-one {
  width: 100%;
  margin-top: 1rem;
  width: 100%;
  border:none;
  height: 20px;
	height: 50px;
	margin-top: 0;
  margin: -50px auto 10px; 
	box-shadow: 0 20px 20px -20px #f9a007;
}

.direct-contact-container .hr-two{
  margin-top: 1rem;
  width: 100%;
  border:none;
  height: 20px;
	height: 50px;
	margin-top: 0;
  margin: 5px auto 10px; 
	box-shadow: 0 -20px 20px -20px #f9a007;
}

#contact .hr{
  border-color: var(--main-color) ;
}

/* Begin Media Queries*/
@media screen and (max-width: 1024px){
  nav{
    width: 60%;
    left: 25%;
  }
} 

@media screen and (max-width: 768px) {

  body,html{
    overflow-x: hidden;
  }
  
  /* mob nav starts */
  #lines{
    display:flex;
    z-index: 999;
    position: fixed;
    top: 0;
    right: 1rem;
    align-items:center;
    margin-top:1vh;
    flex-direction:column;
    cursor:pointer;
  }

  #lines span{
    background-color:var(--main-color);
    width:1.5em;
    height:.1em;
    margin:0.26em 0;
    display:flex;
    transition: all .4s ease;
    transform-origin:0 0;
  }

  .Animate span:nth-child(1) {
    transform: rotate(45deg) translate(2.5px, -1px);
  }

  .Animate span:nth-child(2) {
    transform: scaleX(0);
  }

  .Animate span:nth-child(3) {
    transform: rotate(-45deg) translate(2.5px, 0px);
  }

  #navbar{
    display: none;
  }

  .mob-nav{
    display:flex;
  }

  #subMenu li a {
    font-size: calc(0.5em + 1.5vmax);
  }
  #subMenu li a span{
    font-size: calc(0.2em + 1.5vmax);
  }

  .mob-nav ul{
    display: flex;
    flex-direction: column;
    position: absolute;
    top: 15px;
    width: 10rem;
    text-align: center;
    right: -20%;
    overflow: hidden;
    height: 0px;
    transition: height 0.5s;
    border-radius: 10px;
    background-color: rgba(255,255,255,.1);
    backdrop-filter: blur(15px);  
  }
  
  .mob-nav ul.open-menu{
    height: 11rem;
    border: 1px solid  var(--main-color);
  }
  
  #menu-btn{
    display: inline-block;
    position: fixed;
    top: 20px; right: 1rem;
  }
  /* mob nav ends */

  /* about section starts */
  .about-me{
    flex-direction: column;
    gap: 4vh;
  }
  .about-content h1{
    font-size: calc(8px + 1.2vmax);
  }
  /* about section ends */

  /* Project section */
  .projects .card{
    margin: 5%;
  }

  /* Project section ends*/
  .icons .icon{
    grid-template-columns: repeat(2, 1fr);
  }
  .contact-wrapper {
    display: flex;
    flex-direction: column;
  }  
  .direct-contact-container {
    margin-top: 60px;
    max-width: 300px;
  }    
  .social-media-list li {
    height: 60px;
    width: 60px;
    line-height: 60px;
  }
  .social-media-list li:after {
    width: 60px;
    height: 60px;
    line-height: 60px;
  }

}

@media screen and (max-width: 426px) {
  body,html{
    overflow-x: hidden;
  }
  .mob-nav ul.open-menu{
    height: 10rem;
    border: 1px solid  var(--main-color);
  }

  /* Home Section*/
  .homecontent{
    margin-left: 2%;
  }
  .homecontent .head-tag span{
    font-size: calc(15px + 3vmax);
  }
  .homecontent .head-tag h1{
    font-size: calc(8px + 2vmax);
  }
  .homecontent p{
    height: 10vh;
  }
  .homecontent p span{
    width: 80%;
  }
  .homecontent hr{
    width: 80%;
    margin: -60px auto 10px; 
  }
  /* Home Section ENds*/

  /* about section  */
  .about-content {
    padding: 0 20px;
  }
  .about-content .about-me h1,span{
    letter-spacing: -1px;
  }
  .terminal_cursor{
    height: 15px;
    width: 3px;
    margin-left: 5px;
  }
  .exp-edu{
    flex-direction: column;
    align-items: center;
  }
  .icons{
    height: calc(20vh + 20rem);
  }
  /* about section ends */

  /* projects section Starts */
  #projects{
    margin-top: 10%;
  }
  .projects .card .btn{
    justify-content: space-evenly;
  }
  /* projects section ends */

  /* Contact starts*/
  .direct-contact-container, .form-wrapper {
    float: none;
    margin: 0 auto;
  }  
  .form-control, textarea {
    margin: 3%;
    min-width: 300px;
  }
  .name, .email, textarea {
    min-width: 100px;
  } 
  .direct-contact-container {
    margin-top: 60px;
    /* max-width: 280px; */
  }
  .place{
    margin-left: 2.5rem;
  }
  .phone{
    margin-left: 2rem;
  }
  .gmail{
    margin-left: 2rem;
  }
  .social-media-list {
    left: 0;
  }
  .social-media-list li {
    height: 55px;
    width: 55px;
    line-height: 55px;
    font-size: 1.5rem;
  }
  .social-media-list li:after {
    width: 55px;
    height: 55px;
    line-height: 55px;
  }
  #contact .btn{
    margin-left: 10px;
    width: 305px;
  }  
  #contact .alt-send-button{
    margin-left: -50px;
  }
    /* Contact Ends*/
}

@media screen and (max-width: 350px){
  body,html{
    overflow-x: hidden;
  }
  /* home section starts */
  .homecontent{
    margin-left: 3%;
  }
  .homecontent .head-tag span{
    font-size: calc(10px + 3vmax);
  }
  .homecontent .head-tag h1{
    font-size: calc(6px + 2vmax);
  }
  .homecontent p{
    height: 5vh;
  }
  .homecontent .animate-text span{
    width: 80%;
    margin-top: 0;
    font-size: calc(0.5rem + 1vmax);
  }
  .homecontent hr{
    width: 80%;
    margin: -35px auto 10px;
  }
  /* home section Ends */
  
  /* About section starts */
  .about-content .about-me h1,span{
    letter-spacing: -1px;
  }
  .exp-edu{
    flex-direction: column;
    align-items: center;
  }
  /* About section ends */
  
  /* Project section  */
  .projects .card{
    margin: 2rem;
    padding: 0;
    width: 200px;
  } 
  /* Project section ends */
  
  /* Contact section Starts */
  .contact-wrapper{
    padding: 0;
  }
  .form-control,textarea{
    min-width: 280px;
    margin: 15px;
  }
  .contact-wrapper .direct-contact-container .contact-text{
    font: 200 calc(8px + 1vmax) fifth font;
    /* letter-spacing: 1px; */
  }
  .place{
    margin-left: 2.5rem;
  }
  .phone{
    margin-left: 2rem;
  }
  .gmail{
    margin-left: 2rem;
  }
  #contact .btn{
    width: 90%;
  }
  #contact .alt-send-button{
    margin-left: -60px;
  }
  .social-media-list {
    left: 0;
  }
  .social-media-list li {
    height: 55px;
    width: 55px;
    line-height: 55px;
    font-size: 1rem;
  }
  .social-media-list li:after {
    width: 55px;
    height: 55px;
    line-height: 55px;
  }
  /* Contact section ends */
}


::-webkit-scrollbar{
  width: 6px;
}
::-webkit-scrollbar-track{
  background-color: #000000
}

::-webkit-scrollbar-thumb{
  background-color: var(--main-color);
  border-radius: 10px;
}








